<footer class="bg-main-light py-5">
  <div class="container bg-main-light">
    <h2>Get the fresh cart App</h2>
    <p class="text-muted">
      We will send you a link, Open it on your Phone to download the app
    </p>
    <div class="d-flex justify-content-start mx-2 py-3 border-bottom">
      <input
        type="email"
        id="email"
        class="form-control me-3 w-75"
        placeholder="Email.."
      />
      <button class="btn bg-main text-white">Share App Link</button>
    </div>
    <div class="d-flex justify-content-between py-3 border-bottom">
      <div class="d-flex align-items-center">
        <h5 class="me-3">Payment Partners</h5>
        <div>
          <img src="assets/images/paypal.svg" class="creditImg me-2" alt="" />
          <img src="assets/images/mastercard.svg" class="creditImg" alt="" />
        </div>
      </div>
      <div class="d-flex align-items-center">
        <h5 class="me-3">Get deliveries with FreshCart</h5>
        <div>
          <img src="assets/images/app_store.svg" class="storeImg me-2" alt="" />
          <img src="assets/images/google_Play.svg" class="storeImg" alt="" />
        </div>
      </div>
    </div>
  </div>
</footer>
