<div class="container">
  <div class="row align-items-center bg-main-light mt-5">
    <div class="col-md-4">
      <div>
        <img [src]="brandDetails.image" class="w-100" alt="" />
      </div>
    </div>
    <div class="col-md-8">
      <p><span class="text-main">Slug: </span>{{ brandDetails.slug }}</p>
      <p><span class="text-main">Name: </span>{{ brandDetails.name }}</p>
      <p>
        <span class="text-main">Created at: </span>{{ brandDetails.createdAt }}
      </p>
      <p>
        <span class="text-main">Updated at: </span>{{ brandDetails.updatedAt }}
      </p>
    </div>
  </div>
</div>
