<div class="container mb-5">
  <div class="row gy-4">
    <div class="col-md-2" *ngFor="let brand of brandsData">
      <a [routerLink]="['/brandDetails', brand._id]">
        <div class="brand overflow-hidden position-relative">
          <div>
            <img [src]="brand.image" class="w-100" alt="" />
          </div>
          <div
            class="brand-name position-absolute top-0 bottom-0 start-0 end-0 bg-main-light d-flex justify-content-start align-items-center"
          >
            <p class="text-main fs-4">
              {{ brand.name }}
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
