<div class="card flex justify-content-center">
  <p-dropdown
    [options]="groupedCities"
    [(ngModel)]="selectedCity"
    placeholder="Select a City"
    [group]="true"
  >
    <ng-template let-group pTemplate="group">
      <div class="flex align-items-center">
        <img
          src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
          [class]="'mr-2 flag flag-' + group.value"
          style="width: 20px"
        />
        <span>{{ group.label }}</span>
      </div>
    </ng-template>
  </p-dropdown>
</div>
