<div class="">
  <form
    [formGroup]="forgetPwForm"
    class="w-50 mx-auto mt-5"
    (ngSubmit)="submit(forgetPwForm)"
  >
    <label for="email">Enter email to send reset Code:</label>
    <input
      type="email"
      id="email"
      class="form-control my-2"
      formControlName="email"
    />
    <button
      [disabled]="forgetPwForm.invalid"
      type="submit"
      class="btn bg-main text-white d-block ms-auto"
    >
      <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
      <span *ngIf="!isLoading">Send reset Code</span>
    </button>
  </form>

  <div
    class="d-flex justify-content-center align-items-center"
    *ngIf="resetCode"
  >
    <form
      [formGroup]="resetCodeForm"
      class="w-25 resetCodeForm mx-auto mt-5 bg-white p-5 rounded-2"
      (ngSubmit)="send(resetCodeForm)"
    >
      <label for="resetCode">Enter reset Code :</label>
      <div class="d-flex">
        <input
          type="text"
          id="resetCode"
          class="form-control my-2 mx-2"
          formControlName="resetCode"
        />
        <button
          type="submit"
          class="btn bg-main text-white d-block ms-auto mx-2"
        >
          <i *ngIf="Loading" class="fa fa-spinner fa-spin"></i>
          <span *ngIf="!Loading">Send</span>
        </button>
      </div>
      <p class="text-danger">{{ resetCodeError }}</p>
      <p class="text-success">{{ resetCodeSuccess }}</p>
    </form>
  </div>

  <div
    class="d-flex justify-content-center align-items-center"
    *ngIf="resetCodeSuccess"
  >
    <form
      [formGroup]="resetPasswordForm"
      class="w-25 resetCodeForm mx-auto mt-5 bg-white p-5 rounded-2"
      (ngSubmit)="save(resetPasswordForm)"
    >
      <label for="email">Email :</label>
      <input
        type="email"
        id="email"
        class="form-control my-2"
        formControlName="email"
      />
      <div
        *ngIf="
          resetPasswordForm.get('email')?.errors &&
          resetPasswordForm.get('email')?.touched
        "
        class="alert alert-danger"
      >
        <p
          class="mb-0"
          *ngIf="resetPasswordForm.get('email')?.getError('required')"
        >
          Email is required
        </p>
        <p
          class="mb-0"
          *ngIf="resetPasswordForm.get('email')?.getError('email')"
        >
          Email invalid
        </p>
      </div>

      <label for="newPassword">Password :</label>
      <input
        type="password"
        id="newPassword"
        class="form-control my-2"
        formControlName="newPassword"
      />
      <div
        *ngIf="
          resetPasswordForm.get('password')?.errors &&
          resetPasswordForm.get('password')?.touched
        "
        class="alert alert-danger"
      >
        <p
          class="mb-0"
          *ngIf="resetPasswordForm.get('password')?.getError('required')"
        >
          Password is required
        </p>
        <p
          class="mb-0"
          *ngIf="resetPasswordForm.get('password')?.getError('pattern')"
        >
          Weak Password
        </p>
      </div>

      <button type="submit" class="btn bg-main text-white d-block ms-auto mx-2">
        <i *ngIf="saveLoader" class="fa fa-spinner fa-spin"></i>
        <span *ngIf="!saveLoader">Save</span>
      </button>
    </form>
  </div>
</div>
